In [28]:
import pandas as pd 
import numpy as np

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [2]:
data = pd.read_csv("Exercise 2 - Demographic Data Analyzer/adult.data.csv")

In [39]:
data.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

In [4]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [6]:
data['race'].count()

32561

In [7]:
data['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [8]:
races = data['race'].unique()

In [18]:
quantity = []

for i in range(len(races)):
    n = data[data['race'] == races[i]].count()[0]
    quantity.append(n)

In [19]:
quantity

[27816, 3124, 1039, 311, 271]

In [20]:
race_count = pd.Series(quantity, index=races)

In [21]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

# What is the average age of men?

In [26]:
men = data[data['sex'] == 'Male']

In [27]:
ages = men['age']

In [29]:
ag = np.array(ages)

In [32]:
ag.mean()

39.43354749885268

# What is the percentage of people who have a Bachelor's degree?

In [35]:
bach = data[data['education'] == 'Bachelors'].count()[0]

In [38]:
(bach/32561)*100

16.44605509658794

#  What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [53]:
mon = data[data['education'] == 'Bachelors']

In [54]:
mon

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [55]:
mas = data[data['education'] == 'Masters']

In [56]:
doc = data[data['education'] == 'Doctorate']

In [59]:
number = mon[mon['salary'] == '>50K'].count()[0]

In [60]:
number

2221

In [61]:
number += mas[mas['salary'] == '>50K'].count()[0]

In [62]:
number += doc[doc['salary'] == '>50K'].count()[0]

In [63]:
number

3486

In [79]:
l = data[(data['education'] == 'Bachelors') | (data['education'] == 'Masters') | (data['education'] == 'Doctorate')].count()[0]

# What percentage of people without advanced education make more than 50K?

In [71]:
ppp =data[(data['education'] != 'Bachelors') & (data['education'] != 'Masters') & (data['education'] != 'Doctorate')]

In [72]:
ppp

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [73]:
numPP = ppp[ppp['salary'] == '>50K'].count()[0]

In [74]:
numPP

4355

In [77]:
nop = ppp.count()[0]

In [78]:
nop

25070

# What is the minimum number of hours a person works per week?

In [80]:
work_hours = np.array(data['hours-per-week'])

In [81]:
work_hours

array([40, 13, 40, ..., 40, 20, 40], dtype=int64)

In [82]:
work_hours.min()

1

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [86]:
people_above_50 = data[(data['hours-per-week'] == work_hours.min()) & (data['salary'] == '>50K')].count()[0]

In [88]:
people_min_hours = data[data['hours-per-week'] == work_hours.min()].count()[0]

In [89]:
(people_above_50/people_min_hours)*100

10.0

# What country has the highest percentage of people that earn >50K and what is that percentage?

In [91]:
countries = data['native-country'].unique()

In [92]:
above_50 = data[data['salary'] == '>50K']

In [95]:
number_people = []

for i in range(len(countries)):
    number_people.append(above_50[above_50['native-country'] == countries[i]].count()[0])

In [97]:
number_people

[7171,
 25,
 10,
 40,
 146,
 33,
 16,
 12,
 1,
 30,
 39,
 44,
 18,
 61,
 25,
 12,
 2,
 7,
 3,
 4,
 2,
 20,
 4,
 4,
 2,
 9,
 12,
 3,
 20,
 24,
 6,
 2,
 0,
 3,
 2,
 8,
 2,
 5,
 6,
 5,
 3,
 0]

In [108]:
dataframe = pd.DataFrame(number_people, index=countries)
dataframe.head()

                  0
United-States  7171
Cuba             25
Jamaica          10
India            40
?               146

In [109]:
col = ['Number']

dataframe.columns = col 
dataframe.head()

               Number
United-States    7171
Cuba               25
Jamaica            10
India              40
?                 146

In [111]:
above_50.count()[0]

7841

In [114]:
dataframe['%'] = (dataframe['Number']/above_50.count()[0])*100
dataframe

                            Number          %
United-States                 7171  91.455172
Cuba                            25   0.318837
Jamaica                         10   0.127535
India                           40   0.510139
?                              146   1.862007
Mexico                          33   0.420865
South                           16   0.204056
Puerto-Rico                     12   0.153042
Honduras                         1   0.012753
England                         30   0.382604
Canada                          39   0.497386
Germany                         44   0.561153
Iran                            18   0.229563
Philippines                     61   0.777962
Italy                           25   0.318837
Poland                          12   0.153042
Columbia                         2   0.025507
Cambodia                         7   0.089274
Thailand                         3   0.038260
Ecuador                          4   0.051014
Laos                             2   0.025507
Taiwan                          20   0.255070
Haiti                            4   0.051014
Portugal                         4   0.051014
Dominican-Republic               2   0.025507
El-Salvador                      9   0.114781
France                          12   0.153042
Guatemala                        3   0.038260
China                           20   0.255070
Japan                           24   0.306083
Yugoslavia                       6   0.076521
Peru                             2   0.025507
Outlying-US(Guam-USVI-etc)       0   0.000000
Scotland                         3   0.038260
Trinadad&Tobago                  2   0.025507
Greece                           8   0.102028
Nicaragua                        2   0.025507
Vietnam                          5   0.063767
Hong                             6   0.076521
Ireland                          5   0.063767
Hungary                          3   0.038260
Holand-Netherlands               0   0.000000

In [115]:
maximo = dataframe['%'].max()

In [116]:
country = dataframe[dataframe['%'] == maximo]

In [117]:
country

               Number          %
United-States    7171  91.455172

In [119]:
country = country.reset_index()

In [123]:
pays = str(country['index'][0])
pays

'United-States'

# Identify the most popular occupation for those who earn >50K in India.

In [124]:
india = data[(data['native-country'] == 'India') & (data['salary'] == '>50K')]

In [125]:
jobs = india['occupation'].unique()
jobs

array(['Prof-specialty', 'Exec-managerial', 'Other-service',
       'Tech-support', 'Transport-moving', 'Sales', 'Adm-clerical'],
      dtype=object)

In [126]:
list_india = []

for i in range(len(jobs)):
    list_india.append(india[india['occupation'] == jobs[i]].count()[0])
    
list_india

[25, 8, 2, 2, 1, 1, 1]

In [127]:
serie_india = pd.Series(list_india, index=jobs)
serie_india

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
dtype: int64

In [128]:
maximo_india = serie_india.max()
maximo_india

25

In [135]:
occupation = str(serie_india[serie_india == maximo_india])
occupation

'Prof-specialty    25\ndtype: int64'